<div class="px-3">
    <h2>Frequently Asked Questions</h2>
    <% if @role == 'admin' %>
        <div class="row">
            <div class="col-md-3">
                <%= link_to new_faq_path, class: 'btn btn-primary btn-block' do %>
                    <i class="fa fa-plus"></i> Add New FAQ    
                <% end %>
            </div>
        </div>
        <br>
        <%= render 'faqs/list_table', faqs: @faqs %>
    <% else %>
        <%= render 'faqs/list', faqs: @faqs %>
    <% end %>
</div>