<div class="px-3">
    <h2>Blogs</h2>
    <% if @role == 'admin' %>
        <div class="row">
            <div class="col-md-3">
                <%= link_to new_blog_path, class: 'btn btn-primary btn-block' do %>
                    <i class="fa fa-plus"></i> Add New Blog    
                <% end %>
            </div>
        </div>
        <br>
        <%= render 'blogs/list_table', blogs: @blogs %>
    <% else %>
        <%= render 'blogs/list', blogs: @blogs %>
    <% end %>
</div>