<div class="logo">
  <h1>Listing App</h1>
</div>

<% if user_signed_in? %>
  <ul class="nav nav-tabs mr-auto custom-nav">
    <li class="nav-item">
  		<%= link_to 'Dashboard', jobs_path, class: "nav-link #{active? jobs_path}" %>
		</li>

		<li class="nav-item">
  		<%= link_to 'New Job', new_job_path, id: 'new_job_from_nav', class: "nav-link #{active? new_job_path}" %>
		</li>
    
    <li class="nav-item">
      <%= link_to 'Profile Settings', edit_user_registration_path, class: "nav-link #{active? edit_user_registration_path}" %>
    </li>

    <li class="nav-item ml-auto">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link #{active? destroy_user_session_path}" %>
    </li>
  </ul>
<% end %>