<h2>All Resumes List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current Job Title</th>
      <th scope="col">Education Level</th>
      <th scope="col">Desired Job Title</th>
      <th scope="col">Posted at</th>
      <th></th>
      <% if user_signed_in? %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="jobs">
    <%= render partial: 'all_resume', collection: @all_resumes %>
  </tbody>
</table>
