<div class="pl-3">
    <h2>Frequently Asked Questions</h2>
    <div class="row">
        <div class="col-md-4">
            <%= link_to 'Add more', add_faq_path, class: 'btn btn-success btn-block' %><br>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            Question 1
        </div>
    </div>
</div>