<div class="modal fade" id="job_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content" id="job_container">

    </div>
  </div>
</div>
