<div class="modal" id="action-confirm-model" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Confirm Action</h3>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>

      <div class="modal-body">
        <h5></h5>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary action-confirm-yes">Yes</button>
        <button data-dismiss="modal" type="button" class="btn btn-danger action-confirm-no">No</button>
      </div>

    </div>
  </div>
</div>

