<div class="form-group nested-fields">
  <label class="btn btn-primary">
    Upload Company Photo <%= f.file_field :source, style: 'display: none;' %>
  </label>
  <%= link_to_remove_association 'Remove Photo', f %>
</div>
