<h1>Create new Company</h1>
<div class="alert alert-info" role="alert">
  <h4>You have to setup your company profile before proceed to post your first job!</h4>
</div>
<%= render 'form', company: @company %>
