@import "bootstrap";
@import "gritter";
@import "font-awesome";

@import "select2";
@import "social-share-button";

@import "variables";
// @import "faqs";

.custom-nav {
	margin-bottom: 20px;
}

.custom-home {
	margin-top: 45px;
}

.logo {
  margin-top: 15px;
}

.bookmark {
	color: gray;
}

.bookmark.small, .unbookmark.small {
	font-size: 20px;
	padding-right: 10px;
}

.bookmark:hover {
	color: #ff9900;
	text-decoration: none;
}

.unbookmark {
	color: #ff9900;
}

.unbookmark:hover {
	color: gray;
	text-decoration: none;
}

.admin_icons:hover {
	text-decoration: none;
}

.sidebar {
	background: #f5f5f5;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 30px;
}

.filter-block {
	.hidden-filter {
		display: none;
	}
}

.info-cards {
	margin-top: 25px;
	hr {
		margin: 6px auto;
	}
	.info-cards__card {
		padding-top: 17px;
		padding-bottom: 17px;
		&.company {
			padding-top: 14px;
			padding-bottom: 14px;
			.star-rating {
				margin-top: -2px;
				float: left;
				padding-right: 5px;
			}
		}
		font-size: 14px;
		.selected {
			padding-left: 10px;
			border: 3px #000 solid;
		}
		.card__title {
			font-size: 16px;
		}
	}
}

#job_info {
	height: calc(100% - 50px);
	width: calc(100% - 30px);
	position: absolute;
	margin-top: 80px;
	margin-bottom: 20px;
	top: 0px;
	padding: 0px;
	&.fix-block {
		padding: auto;
		position: fixed;
		margin-top: 20px;
		height: calc(100vh - 60px);

	}
}
#main-job-container {
	height: inherit;
}

.job-info__head {
	padding-bottom: 5px;
	margin-bottom: 10px;
	height: 140px;
	&.company {
		height: 130px;
	}
}
.job-info__body {
	height: calc(100% - 140px);
	overflow-x: auto;
	margin-bottom: 20px;

}


/*
 ===================================
	Manage JobSeekers and Recruiter 
 ===================================
 */
select.change-action {
	width: 150px;
}

/*
 ===================================
	Manage JobSeekers and Recruiter 
 ===================================
 */
.faq-section {
	font-size: 17px;
}

/*
 ===================================
	Blog
 ===================================
 */

 .blog-content p {
	 margin-bottom: 0;
 }

 .blog .social-share-button {
	 float: right;
	 .ssb-icon {
		 background-size: $social-share-button-size, $social-share-button-size;
		 height: $social-share-button-size;
		 width: $social-share-button-size;
	 }
 }

