@import "bootstrap";
@import "gritter";
@import "font-awesome";

.custom-nav {
	margin-bottom: 20px;
}

.custom-home {
	margin-top: 45px;
}

.logo {
  margin-top: 15px;
}

.bookmark {
	color: gray;
}

.bookmark.small, .unbookmark.small {
	font-size: 20px;
	padding-right: 10px;
}

.bookmark:hover {
	color: #ff9900;
	text-decoration: none;
}

.unbookmark {
	color: #ff9900;
}

.unbookmark:hover {
	color: gray;
	text-decoration: none;
}

.admin_icons:hover {
	text-decoration: none;
}

.sidebar {
	background: #f5f5f5;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 30px;
}

.filter-block {
	.hidden-filter {
		display: none;
	}
}

.info-cards {
	margin-top: 25px;
	hr {
		margin: 6px auto;
	}
	.info-cards__card {
		padding-top: 17px;
		padding-bottom: 17px;
		font-size: 14px;
		.selected {
			padding-left: 10px;
			border: 3px #000 solid;
		}
		.card__title {
			font-size: 16px;
		}
	}
}
