// Place all the styles related to the FAQ controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


/*
.faq-index {
    width: 15px;
}

.answer-section {
    padding-left: 32px;
}
*/