<% if @categories.any? %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">All</th>
                <th scope="col" class="text-center">Category Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody class="cat-list">
            <% @categories.each do |category| %> 
                <tr>
                    <td class="text-center">
                        <%= check_box_tag "blog[category_ids][]", category.id, category.checked?(@blog), { :multiple => true} %>
                    </td>
                    <td class="text-center"><%= category.name %></td>
                    <td class="text-center">
                        <%= link_to '', edit_category_path(category), class: 'fa fa-edit fa-lg text-success' %>
                        <%= link_to '', category_path(category), method: :delete, class: 'fa fa-trash fa-lg text-danger', data: { confirm: 'Are you sure?' } %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
